extends ../layout/layout
block content
      - var action = '/edition/lov/agents'
      - action += agent.isNew? '' : '/' + agent.id
      section#post.postBlue
        article
          header.wrpl.w-3-3
            h1 #{agent.name}
      section#posts.default-area
          article
            #greenContainer.contents.clear.col-2.split.wrplGreen
              form(method="post", action=action)
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                - if (!agent.isNew)
                  input(type="hidden", name="_method", value="PUT")
                .metadataFrame
                  div(class='metadataContainerPerson')
                    table.metadata-table.noheader.flat-table-3(style="width:100%")
                      tbody.editionTable
                        tr
                          td(style='width:15%;') Full name
                          td(style='width:85%;')
                            input(type='text', name="name", value=agent.name)
                        tr
                          td Type
                          td
                            select(name='type')
                              - var agentTypes = ['person','organization','software agent'];
                              each agentType in agentTypes
                                option(value=agentType, selected= agentType == agent.type)= agentType
                        tr
                          td URI
                          td
                            input(type='text', name="prefUri", value=agent.prefUri)
                        tr
                          td Alternative URIs
                          td
                            span(onclick="addInput('altUrisDiv','altUris','');") Add
                            #altUrisDiv.controls
                              each altUri in agent.altUris
                                div
                                  input(type='text', name='altUris[]', value=altUri, style='width:600px;')
                                  span(onClick="this.parentNode.remove();") Remove
                input.loginButtonLeft(type='submit' value='Save')
                .loginButtonRight
                  a(href="/agents", title="cancel") Cancel