extends ../layout/layout
block content
      section#post.postBlue.postSearch
        form#searchForm(action='' method='get')
          div.searchWrapper
            button(type='submit', value=' ') agents
            input#searchInput(name='q', type='text', placeholder='#{placeholder}', autocomplete='off', value='#{(typeof(results.queryString) !== "undefined")? results.queryString:""}')      
          - if(typeof(suggestions) !== 'undefined')
                  .suggestions
                    span Do you mean: 
                    each suggestion, i in suggestions
                      a(href="/dataset/lov/agents?q=#{suggestion.text}") #{suggestion.text} 
      script.      
        $(document).ready(function() {
          $( "#searchInput" ).autocomplete({
              minLength: 1,
              source: function (request, response) {
               $.ajax({
                 url: "/dataset/lov/api/v2/agent/autocomplete",
                 data: { q: request.term },
                 dataType: "json",
                 success: response,
                 error: function () {
                     response([]);
                 }
              });
             },
              position: {my : "left top",at: "left bottom"},
              messages: {noResults: '',results: function() {}},
              select : function(event, ui) {
                  location.href = '/dataset/lov/agents/' + encodeURIComponent(ui.item.name);
              },
             open: function(event, ui) {$(".ui-autocomplete").css("z-index", 1000);}
          }).data( "uiAutocomplete" )._renderItem = function( ul, item ) {
           return $( "<li></li>" )
             .data( "item", item )
             .append( "<a>" + item.name +"</a>")
             .appendTo( ul );
          };
        });
      
      section#posts.default-area.postSearchResults
        - if (typeof(results.results) !== 'undefined' && results.total_results>0)
          #greenContainer.contents.clear.col-2.split.wrplGreen
              //| !{JSON.stringify(results)}
              .count-items
                span.count #{results.total_results}
                .clear
                .items
                  | #{results.total_results==1 ? 'result' : 'results'}
              ul#SearchGrid
                each result, i in results.results
                  li(class="SearchBox#{result._source.type}")
                    .SearchContainer
                      div.SearchInnerBox
                        a.prefix(href='/dataset/lov/agents/#{result._source.name}') !{result._source.name}
                        div.uri 
                            a(href='#{result._source.uri}', target='_blank') !{result._source.uri}
                      div.hr
                      div.SearchBodyVoc
                        - if(result._source.alturis)
                          table
                              tr
                                td.SearcBodyProp altURI 
                                td
                                  each alturi in result._source.alturis 
                                    div.SearcBodyValue 
                                      a(href='#{alturi}', target='_blank') #{alturi}
                        - if(result._source.vocabs)
                          span.SearcBodyProp has role in vocab 
                          span.SearcBodyValue !{utils.valueLangDisplay(result._source.vocabs,'prefix','prefix','/dataset/lov/vocabs/')}
                          
              - var p = {current: results.page, total: Math.ceil(results.total_results/results.page_size)}
              - var boundary = 2
              .pagination
                - var query = '?'
                - if(results.queryString)query=query+'q='+results.queryString;
                - if(typeof results.filters.tag != 'undefined')query+='&tag='+encodeURIComponent(results.filters.tag);
                - if(typeof results.filters.type != 'undefined')query+='&type='+results.filters.type;
                - if(p.current-boundary >1)
                  a.page(href='#{query}&page=1') 1
                  - if(p.current-boundary >2)
                    span.disabled ...
                - for(var i = p.current-boundary; i <= p.current + boundary; ++i)
                  - if (i <= p.total && i > 0)
                    - if (i !== p.current)
                      a.page(href='#{query}&page=#{i}') #{i}
                    - else
                      span.page.current #{i}
                - if(p.current+boundary <p.total)
                  - if(p.current+boundary+1 <p.total)
                    span.disabled ...
                  a.page(href='#{query}&page=#{p.total}') #{p.total}

            aside.wrpl.facets
              .facet
                h2.facet-heading Type
                nav
                  ul.nav-facet
                    li.nav-item-inactive(class="nav-item-vocabulary") 
                      a(href='/dataset/lov/vocabs') vocabulary >
                    li.nav-item-inactive(class="nav-item-propertyclass hover")
                      a(href='/dataset/lov/terms') property/class >
                    li.nav-item(class="nav-item-agent")
                      span agent
                    - var query = '?'
                    - if(results.queryString)query=query+'q='+results.queryString;
                    - if(typeof results.filters.vocab != 'undefined')query+='&vocab='+results.filters.vocab;
                    - if(typeof results.filters.tag != 'undefined')query+='&tag='+encodeURIComponent(results.filters.tag);
                    for type in results.aggregations.types.buckets
                      - if(typeof results.filters.type != 'undefined' && type.key == results.filters.type)
                        li.nav-item-active
                          a(href='#{query}') #{type.key} (#{type.doc_count})
                      - else
                        li.nav-item(class="nav-item-#{type.key} hover")
                          a(href='#{query}&type=#{type.key}') #{type.key} (#{type.doc_count})
              .facet
                h2.facet-heading Tag
                // | !{JSON.stringify(results.aggregations)}
                nav
                  ul.nav-facet
                    - var query = '?'
                    - if(results.queryString)query=query+'q='+results.queryString;
                    - if(typeof results.filters.type != 'undefined')query+='&type='+results.filters.type;
                    - var tagArray = ( typeof results.filters.tag != 'undefined' ? encodeURIComponent(results.filters.tag).split(","): []);
                    for tag in results.aggregations.tags.buckets
                      - var indexTag = tagArray.indexOf(encodeURIComponent(tag.key));
                      - if(indexTag>-1)
                        - tagArray.splice(indexTag,1);
                          - if(tagArray.length>0)
                            li.nav-item-active
                              a(href='#{query}&tag=#{tagArray.join(",")}') #{tag.key} (#{tag.doc_count})
                          - else
                            li.nav-item-active
                              a(href='#{query}') #{tag.key} (#{tag.doc_count})
                        -tagArray.splice(indexTag,0,encodeURIComponent(tag.key));
                      - else
                        li.nav-item(class='hover')
                          - tagArray.push(encodeURIComponent(tag.key));
                          a(href='#{query}&tag=#{tagArray.join(",")}') #{tag.key} (#{tag.doc_count})
                          - tagArray.pop();
                    - if(results.aggregations.tags.buckets.length==10)
                      - if(tagArray.length>0)query+='&tag='+tagArray.join(",");
                        li.nav-item(class='hover')
                          a(href='#{query}&tag_limit=0')
                            i.nav-item-moreless show more...
                    - if(results.aggregations.tags.buckets.length>10)
                      - if(tagArray.length>0)query+='&tag='+tagArray.join(",");
                        li.nav-item(class='hover')
                          a(href='#{query}')
                            i.nav-item-moreless show less...