extends ../layout/layout
block content
      section#post.postPink
          article
            #login
              h1 Sign up
              form(action="/agents", method="post")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                input#agentHidden(type="hidden", name="agentHidden")
                #signupRemove.signupRemove(onclick="this.style.display = 'none';document.getElementById('agentHidden').value = '';document.getElementById('user-name-agent').disabled = false;") X
                input#user-name-agent.typeahead(type='text', name="name", placeholder='Full name', value=agent.name, autocomplete='off')
                input(type='email', name="email", placeholder='Email')
                input(type='password', name="password", placeholder='Password')
                select#selector(name='languages', multiple='multiple', style='discplay:none;')
                  for lang in langs
                    if(agent.languages && JSON.stringify(agent.languages).indexOf(lang.id)>-1)
                      option(value='#{lang.id}', selected='true') #{lang.label}
                    else
                      option(value='#{lang.id}') #{lang.label}
                //-input#callBackFn(type='text', name="callBackFn", placeholder='Optional Callback Function')
                input.loginButtonLeft(type='submit' value='Sign up')
                .loginButtonRight
                  a(href="/login") login