extends ../layout/layout
block content
      section#post.postBlue.postSearch
        h1 LOV Question Answering 
          span / Prototype
      
      section#posts.default-area
          article
            .contents.clear.col-2.split.wrplGreen
              form#searchForm(action='' method='get', style='margin-bottom:1em; margin-top:1em')
                div.searchWrapper
                  button(type='submit', value=' ') ASK Me
                  input(name='q', type='text', value='#{(question)?question:""}', placeholder='e.g. What is foaf?' autocomplete='off') 
              - if(question)
                table
                  tr
                    td(style='width:25%')
                      img(src='/img/robot.png', valign="top")
                    td(style='width:75%')
                      div.QAanswer
                        span !{stdout}
                        span !{stderr}
            aside.wrpl
              .h-padding
                h2 Examples
                .line
                .asideListFloat
                  ul.dumps
                    li.aboutTopic
                      - var queryIndex=1;
                      - each queryExample in QAExamples
                        .aboutDesc 
                          a.linkBox(href='/dataset/lov/qa?q='+encodeURIComponent(queryExample.query)) #{queryExample.title}
                      - queryIndex=queryIndex+1;